*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 60px;
}

.input-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-section {
  padding: 30% 0;
  float: left;
  width: 100%;
  background-color: #455A64;
  color: white;
}

.list-section {
  background-color: #CFD8DC;
  float: right;
  width: 100%;
}

.logo {
  width: 1.5em;
}

.enter-button {
  display: block;
  margin: 5% auto;
  min-width: 91.5%;
  border: 0;
  background-color: #ffc107;
  color: #ffffff;
  padding: 5px;
  font-size: 18px;
  font-weight: 800;
}

.enter-button:hover {
  background-color: #ffd773;
}

.bookmark-input {
  display: block;
  margin: 5% auto;
  min-width: 90%;
  font-size: 20px;
}

.bookmark {
  background-color: #ffffff;
  margin: 2%;
  width: 92%;
  border: solid 2px #607D8B;
  padding: 4px 12px;
}

.bookmark-title {
  color: #455A64;
}

.bookmark-url {
  display: block;
  color: #607D8B;
  padding: 10px 0;
  border-bottom: solid 2px #CFD8DC;
  border-top: solid 2px #CFD8DC;
}

.css-links{
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.css-read-and-delete {
  font-size: 14px;
  margin: 4px 0;
  border: none;
  color: #455A64;
  background-color: transparent;
}

.bookmark-read {
  display: inline-block;
  /* float: left; */
}

.bookmark-delete {
  float: right;
}

.css-links:hover{
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}

.read {
  background-color: #F2F4F4;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
  }
}

