* {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  min-height: 100vh;
}


/* ====== BOOKMARK SECTION HEADER STYLES ====== */


header {
  background-color: #6A7A83;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  text-align: center;
}

header span {
  color: #FFC107;
}

header p {
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
}

header button {
  background-color: #FF7C51;
  border: 0;
  color: #FFF;
  height: 80%;
  font-size: 16px;
  font-weight: 800;
  margin: auto 0;
  outline: none;
  padding: 5px;
  transition: .5s;
  width: 100px;
}

header button:hover {
  background-color: #F05A28;
  cursor: pointer;
}


/* ====== TITLE AND INPUT SECTION STYLES ====== */


.title {
  font-size: 60px;
  margin: 0 3%;
  text-align: center;
}

.input-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-section {
  background-color: #455A64;
  color: white;
  float: left;
  padding: 30% 0;
  width: 100%;
}

.list-section {
  background-color: #CFD8DC;
  float: right;
  width: 100%;
}

.logo {
  width: 1.5em;
}

.enter-button {
  background-color: #FFC107;
  border: 0;
  color: #FFF;
  display: block;
  font-size: 18px;
  font-weight: 800;
  min-width: 90%;
  padding: 5px;
  outline: none;
  margin: 5% auto;
  transition: .5s;
}

.enter-button:hover {
  background-color: #FFD773;
  cursor: pointer;
  transition: .5s;
}

.enter-button:disabled {
  background-color: #FFD773;
  cursor: auto;
  transition: .5s;
}

.bookmark-input {
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  margin: 5% auto;
  min-width: 90%;
  outline: none;
  padding: 1% 1% 1% 2%;
}

.bookmark-input::placeholder {
  color: #CCC;
}


/* ====== BOOKMARK CARD STYLES ====== */


.bookmark {
  background-color: #FFF;
  border: solid 2px #607D8B;
  box-sizing: border-box;
  margin: 3% 2%;
  padding: 4px 12px;
  transition:.5s;
  width: 96%;
}

.bookmark-title {
  color: #455A64;
}

.bookmark-url {
  border-bottom: solid 2px #CFD8DC;
  border-top: solid 2px #CFD8DC;
  color: #607D8B;
  display: block;
  padding: 10px 0;
}

.css-links{
  outline: none;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.css-read-and-delete {
  background-color: transparent;
  border: none;
  color: #455A64;
  font-size: 14px;
  margin: 4px 0;
}

.bookmark-read {
  display: inline-block;
}

.bookmark-delete {
  float: right;
}

.css-links:hover {
  color: #455A64;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}

.read {
  background-color: #F2F4F4;
}

.read .bookmark-read {
  color: #F05A28;
  font-weight: 800;
}

.animate-delete {
  animation: delete 2s;
}

.animate-add {
  animation: add 2s;
}

@keyframes delete {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(50vw);
    opacity: 0;
  }
}

@keyframes add {
  0% {
    transform: translateX(50vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
}

